
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_1bi4  col-style block block_5 title_neo2">
<div class="module so-listing-tabs-ltr home-lt1 default-nav clearfix img-float label-1">
   <div class="head-title font-ct">
      <h2 class="modtitle" style="background:##CCCCFF;">Farmers Market</h2>
   </div>

{# 

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> #}


<div class="container">
 
  <div id="myCarouselfam" class="carousel slide" data-ride="carousel" ">
    <!-- Indicators -->
   

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
      <a href="https://khetifood.com/index.php?route=product/category&path=137"> 
        <img src="/image/catalog/farmersmarket/farmers.jpeg" alt="Los Angeles" style="width:100%;max-width:100% ">
        {# <div class="carousel-caption">
          <h3>faermsers market</h3>
          <p>description</p>
        </div> #}
        </a>
      </div>

     
    
      <div class="item">
            <a href="https://khetifood.com/index.php?route=product/category&path=213">

        <img src="/image/catalog/farmersmarket/dairy products.jpg" alt="New York" style="width:100%;max-width:100% ">
             </a>

      </div>
      <div class="item">
            <a href="https://khetifood.com/index.php?route=product/category&path=137">

        <img src="/image/catalog/farmersmarket/fresh farm.jpg" alt="New York1" style="width:100%;max-width:100% ">
             </a>

      </div>
      <div class="item">
            <a href="https://khetifood.com/index.php?route=product/category&path=139">

        <img src="/image/catalog/farmersmarket/local enterprises.jpg" alt="New York2" style="width:100%;max-width:100% ">
             </a>

      </div>
      <div class="item">
            <a href="https://khetifood.com/index.php?route=product/category&path=220">

        <img src="/image/catalog/farmersmarket/kaushi kheti.jpg" alt="New York3" style="width:100%;max-width:100% ">
             </a>

      </div>


       <div class="item">
            <a href="https://khetifood.com/index.php?route=product/category&path=137">
        <img src="/image/catalog/farmersmarket/organic products.jpg" alt="New York34" style="width:100%;max-width:100% ">
             </a>

      </div>

  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarouselfam" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarouselfam" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
 </div>
</div>