<!-- Display User Information -->
<div>
  <div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>First Name: </b>{{ firstName }}</li>
    <li class="list-group-item"><b>Last Name: </b>{{ lastName }}</li>
    <li class="list-group-item"><b>Email: </b>{{ email }}</li>
    <li class="list-group-item"><b>Mobile: </b>{{ mobile }}</li>
        <a href="/index.php?route=account/reward"><li class="list-group-item"><b>Kheti Points </b></li></a>

  </ul>
</div>
</div>