/*Add Css Custom Here*/
.product-detail .product_page_price .price-new{font-size:32px;}
.product-view .content-product-right div.box-review{margin-bottom: 15px;}

#payment-confirm-button, #coupon_voucher_reward {display: none;}




