<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/ok.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(document).ready(function() {
          $(".hamburger").click(function() {
              $(".wrapper").toggleClass("active")
          })
      });
  </script>

    <style>
      table,
      th,
      td {
        border: 1px solid #696969;
        padding: 4px;
      }

      table.timecard {
        /* margin: 10px auto; */
        width: 600px;
        border-collapse: collapse;
        border: 1px solid #fff; /*for older IE*/
        /* border-style: hidden; */
      }

      table.timecard caption {
        background: linear-gradient(
          to right,
          #f25c54 1%,
          #f4e285 47%,
          #f27059 100%
        );
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.3em;
        text-align: center;
        caption-side: top;
      }

      table.timecard thead th {
        padding: 8px;
        background-color: #fde9d9;
        font-size: large;
      }

      /* table.timecard thead th#thDay {
	width: 40%;	
} */

      table.timecard thead th#thRegular,
      table.timecard thead th#thOvertime,
      table.timecard thead th#thTotal {
        width: 20%;
      }
      table.timecard th {
        padding: 3px;
        border-width: 1px;
        border-style: solid;
        border-color: #f79646 #ccc;
      }

      table.timecard td {
        text-align: center;
        background-color: #f6f6ff;
        border-color: #f79646 #ccc;
        border-width: 1px;
        border-style: solid;
      }

      table.timecard tbody th {
        text-align: left;
        font-weight: normal;
      }
    </style>
  </head>

  <body>
    <div class="wrapper">
      <div class="top_navbar">
          <div class="logo">
              <a href="#">Welcome
              </a>
          </div>
          <div class="top_menu">
              <div class="home_link">
                  <a href="#"><span class="icon"><i class="fas fa-home"></i></span>
                      <span>Home</span> </a>
              </div>
          </div>
      </div>
      <div class="main_body">
            {{sidebar}}
    <div class="container">
      <div class="item_wrap">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal1"
          style="background: linear-gradient(to right, #f25c54 1%,#f4e285 47%,#f27059 100%); border: #f25c54; margin: 10px 4px;"
        >
          Add Products
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal1"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Products here!
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form
                  style="padding: 30px;
							background: rgba( 247, 229, 215, 0.25 ); box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
							backdrop-filter: blur( 4px ); border-radius: 10px;
							border: 1px solid rgba( 255, 255, 255, 0.18 );"
                >
                  <!-- <label for="fname">First name:</label><br>
								<input type="text" id="fname" name="fname"><br>-->
                  <div class="item">
                    <label for="lname" style="font-family: cursive;"
                      >Product name:</label
                    >
                    <input type="text" id="lname" name="lname" />
                  </div>

                  <div class="item">
                    <label for="myfile" style="font-family: cursive;"
                      >Select a file:</label
                    >
                    <input
                      type="file"
                      id="inputFileToLoad"
                      name="inputFileToLoad"
                    />
                  </div>
                  <br />
                  <div class="item">
                    <label for="category" style="font-family: cursive;"
                      >category_id:</label
                    >
                    <input type="text" id="category" name="category" />
                  </div>
                  <br />

                  <div class="item">
                    <label for=" price" style="font-family: cursive;"
                      >Price:</label
                    >
                    <input type="text" id="price" name="price" />
                  </div>
                  <br />

                  <div class="item">
                    <label for="measure" style="font-family: cursive;"
                      >Sku:</label
                    >
                    <input type="text" id="measure" name="measure" />
                  </div>
                  <br />
                  <button
                    type="button"
                    id="submittbtn"
                    style="background: linear-gradient(to right, #f25c54 1%,#f4e285 47%,#f27059 100%);color: #fff;margin-top: 4px; border: 1px solid #fff; padding: 4px 3px; border-radius:
									4px; "
                  >
                    Submit!
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="item_wrap "
        style="display: flex;
        margin-bottom: 10px;
        /* float: left; */
     margin-left: 8px;"
      >
        <div
          class="item "
          style="background: #fff;
            border: 1px solid #e0e0e0;
            padding: 25px;
            font-size: 14px;
            line-height: 22px;"
        >
          <div class="table-responsive">
            <table class="timecard">
              <caption>
                Products details here
              </caption>
              <thead>
                <tr>
                  <th id="thDay">ProductId</th>
                  <th id="thRegular">Productname</th>
                  <th id="thOvertime">image</th>
                  <th id="thTotal">price</th>
                  <th id="thDay">Sku</th>
                  <th id="thDay">Categoryid</th>
                  <th id="thDay">Customerid</th>
                  <th id="thDay">Delete</th>
                </tr>
              </thead>
              <tbody id="table1-rows"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js "></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js "
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 "
      crossorigin="anonymous "
    ></script>

    <!--API to insert product (add product)(according to category id) of the b2b user:-->
    <script type="text/javascript ">
      $('#submittbtn').on('click', function() {
          // $("#myform").trigger("reset ");
          console.log(document.getElementById("lname").value);
          console.log(document.getElementById("category").value);
          console.log(document.getElementById("price").value);


          var formData = new FormData();
          formData.append('fileToUpload', $("#inputFileToLoad")[0].files[0]);
          formData.append("key", "cr3@t3c@t3g0rp60ws");
            formData.append("customer_id", {{customer_id}});
          formData.append("category_id", document.getElementById("category").value);
          formData.append("price", document.getElementById("price").value);
          formData.append("sku", document.getElementById("measure").value);
          formData.append("product_name", document.getElementById("lname").value);

          $.ajax({
              url: 'https://khetifood.com/index.php?route=api/b2bOmsCategory/createCategoryProduct',
              type: 'POST',
              data: formData,
              async: false,
              dataType: "json",
              crossDomain: true,


              success: function(data) {
                  console.log(data);

                  window.location.reload();
              },
              error: function(data) {
                  alert(data);
              },
              cache: false,
              contentType: false,
              processData: false
          });

          return false;
      });
    </script>

    <!--API to get product (according to category id) of the b2b user:-->
    <script type="text/javascript">
      console.log('ok')
      const formData = new FormData()
      formData.append('key', 'G3tC@tPr00ws')
      formData.append('category_id', '2')

      $.ajax({
        url:
          'https://khetifood.com/index.php?route=api/b2bOmsCategory/getProducts',
        type: 'POST',
        data: formData,
        async: false,
        dataType: 'json',
        crossDomain: true,
        success: function (data) {
          console.log(data)
          let string1 = ''
          var response = JSON.parse(JSON.stringify(data))
          for (let i = 0; i < response['productarray'].length; i++) {
            string1 =
              string1 +
              '<tr><td>' +
              response['productarray'][i].product_id +
              '</td><td>' +
              response['productarray'][i].product_name +
              '</td><td>' +
              '<img src="' +
              response['productarray'][i].image +
              '" style="height:50px;width:64px">' +
              '</td><td>' +
              response['productarray'][i].price +
              '</td><td>' +
              response['productarray'][i].sku +
              '</td><td>' +
              response['productarray'][i].category_id +
              '</td><td>' +
              response['productarray'][i].customer_id +
              '</td><td>' +
              '<button id="delete" class="btn btn-danger"  value="' +
              response['productarray'][i].product_id +
              '" style="font-size:10px;width:35px">' +
              '<i class="fa fa-trash" aria-hidden="true" ></i></button>' +
              '</td></tr>'

            // console.log(response['Categoryarray'][i].category_name);
          }
          $('#table1-rows').append(string1)
        },
        error: function (data) {
          alert(data)
        },
        cache: false,
        contentType: false,
        processData: false
      })
    </script>

    <!-- api to delete product row-->
    <script>
      var table = document.getElementById('table1-rows')
      table.addEventListener('click', function (event) {
        var target = event.target

        if ((target.tagName = 'BUTTON' && target.value)) {
          // remove and place your ajax request here
          console.log(target.value)
          const formData = new FormData()
          formData.append('key', '0m$d3ltePr0')
          formData.append('product_id', target.value)
          $.ajax({
            url:
              'https://khetifood.com/index.php?route=api/b2bOmsCategory/deleteProduct',
            type: 'POST',
            data: formData,
            async: false,
            dataType: 'json',
            crossDomain: true,
            success: function (data) {
              console.log(data)
              window.location.reload()
            },

            error: function (data) {
              alert(data)
            },
            cache: false,
            contentType: false,
            processData: false
          })
        }
      })
    </script>
  </body>
</html>
