<div id="magik-verticalmenu" class="block magik-verticalmenu" style="width:100%">
        <div class="nav-title">
            <i class="fa fa-th" aria-hidden="true"></i>
             <span> Categories</span> </div>
        <div class="nav-content">
          <div class="navbar navbar-inverse">
            <div id="verticalmenu" class="verticalmenu" role="navigation">
              <div class="navbar">
                <div class="collapse navbar-collapse navbar-ex1-collapse" id="categories">
                  <ul class="nav navbar-nav verticalmenu">
                    			  
   {% if store_id== 1 %}


                     <li class=" parent dropdown ">
                                <a href="https://khetifood.com/index.php?route=product/category&amp;path=172" class="clearfix">
                                <span>
                                    <strong><img src="https://khetifood.com/image/catalog/legumes4.png" alt=""> Fruits</strong>
                                </span>
                                
                            </a>
</li>

                     <li class=" parent dropdown ">
                      
   <a href="https://khetifood.com/index.php?route=product/category&amp;path=137" class="clearfix">
                            <span>
                                <strong><img src="https://khetifood.com/image/catalog/b2b store menu icons/bulbs.png" alt=""> Vegetables-Organic</strong>
                            </span>
                            
                        </a>
</li>

                     <li class=" parent dropdown ">
   <a href="https://khetifood.com/index.php?route=product/category&amp;path=139" class="clearfix">
                            <span>
                                <strong><img src="https://khetifood.com/image/catalog/b2b store menu icons/flowers.png" alt=""> Vegetables-Local</strong>
                            </span>
                            
                        </a>
</li>

                     <li class=" parent dropdown ">
   <a href="https://khetifood.com/index.php?route=product/category&amp;path=171" class="clearfix">
                            <span>
                                <strong><img src="https://khetifood.com/image/catalog/b2b store menu icons/leaves.png" alt=""> Vegetables-Regular</strong>
                            </span>
                            
                        </a>
</li>


 <li class=" parent dropdown ">
                        <a href="https://khetifood.com/index.php?route=product/category&amp;path=215" class="clearfix">
                            <span>
                                <strong><i class="icon icon8"></i><img src="https://khetifood.com/image/catalog/groceries.jpg" alt="" style="width:24px;filter: grayscale(100%);"> Groceries</strong>
                            </span>
                            
                        </a>
</li>




                     <li class=" parent dropdown ">
   <a href="https://khetifood.com/index.php?route=product/category&amp;path=212" class="clearfix">
                            <span>
                                <strong><img src="https://khetifood.com/image/catalog/24_8810efe4062c061e6e7c92adab8746df.jpg" alt=""> Pickles</strong>
                            </span>
                            
                        </a>
</li>

                         {% if user_location == 'ktm'  %}

                            <li class=" parent dropdown ">						
                        

   <a href="https://khetifood.com/index.php?route=product/category&amp;path=225" class="clearfix">
                            <span>
                                <strong><img src="https://khetifood.com/image/catalog/kathmandu coffee.jpg" alt=""> Coffee</strong>
                            </span>
                            
                        </a> 
                         

                        {# <div id="sub-menu" class="dropdown-menu" style="width: 180px;height: 280px;overflow-x:hidden;overflow-y:auto;">
                            <div class="dropdown-menu-inner">
                               <div class="row">
                                  
                                                 <ul>
                                                   <li class=" parent dropdown " style="height:10px;">
  <a href="https://khetifood.com/index.php?route=product/category&path=219" class="clearfix" style=" color: #333;

    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    font-size: 12px;
font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    font-weight: bold;
    cursor: pointer;    ">
                            <span>
                                <strong style="font-weight: 700;"><i class="icon icon8"></i><img src="https://khetifood.com/image/catalog/kathmandu coffee.jpg" alt="">KatmanDu Coffee</strong>
                            </span>
                            
                        </a>
</li>  <hr>
                                                   <li class=" parent dropdown ">
  <a href="https://khetifood.com/index.php?route=product/category&path=222" class="clearfix" style=" color: #333;

    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    font-size: 12px;
font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    font-weight: bold;
    cursor: pointer;    ">
                            <span>
                                <strong style="font-weight: 700;"><i class="icon icon8"></i><img src="https://khetifood.com/image/catalog/kathmandu coffee.jpg" alt="">Red Cherry Coffee</strong>
                            </span>
                            
                        </a>
</li>
                                                 </ul>
                                              </div>
                                           </div>
                                        </div>
                                     #}
                        
                        
                        
                        </li>
                                             

                  {% endif %}
                  <li class=" parent dropdown ">
    <a href="https://khetifood.com/index.php?route=product/category&amp;path=216" class="clearfix">
                            <span>
                                <strong><img src="https://khetifood.com/image/catalog/bakery2.jpg" alt=""> Bakeries</strong>
                            </span>
                            
                        </a>  
</li>

                                             

                     <li class=" parent dropdown ">
                        <a href="https://khetifood.com/index.php?route=product/category&amp;path=220" class="clearfix">
                            <span>
                                <strong><i class="icon icon8"></i><img src="https://khetifood.com/image/catalog/kaushi.jpg" alt=""> Kaushi Kheti</strong>
                            </span>
                            
                        </a>
</li>
 <li class=" parent dropdown ">

<a href="https://khetifood.com/index.php?route=product/category&amp;path=221" class="clearfix">
                            <span>
                                <strong><i class="icon icon8"></i><img src="https://khetifood.com/image/catalog/khetoox.jpg" alt="" style="width:24px;"> Kheti Basket Subscriptions </strong>
                            </span>
                            
                        </a>
</li>

   {% if user_location == 'ktm'  %}
 <li class=" parent dropdown ">
<a href="https://khetifood.com/index.php?route=product/category&amp;path=227" class="clearfix">
                            <span>
                                <strong><i class="icon icon8"></i><img src="https://khetifood.com/image/catalog/health and welness.jpg" alt="" style="width:24px;"> Health And Wellness</strong>
                            </span>
                            
                        </a>
</li>
 <li class=" parent dropdown ">
                        
<a href="https://khetifood.com/index.php?route=product/category&amp;path=228" class="clearfix">
                            <span>
                                <strong><i class="icon icon8"></i><img src="https://khetifood.com/image/catalog/dry fruits.jpg" alt="" style="width:24px;"> Dry Fruits</strong>
                            </span>
                            
                        </a>
</li>
{# <li class=" parent dropdown ">
                        
<a href="https://khetifood.com/index.php?route=product/category&amp;path=232" class="clearfix">
                            <span>
                                <strong><i class="icon icon8"></i><img src="https://khetifood.com/image/Strawberry_2000x.jpg" alt="" style="width:24px;filter: grayscale(100%);"> Hime Berry</strong>
                            </span>
                            
                        </a>
</li> #}
 {# <li class=" parent dropdown ">
                        <a href="https://khetifood.com/index.php?route=product/category&amp;path=230" class="clearfix">
                            <span>
                                <strong><i class="icon icon8"></i><img src="https://khetifood.com/image/catalog/ajima foods.jpg" alt="" style="width:24px;"> Ajima Foods</strong>
                            </span>
                            
                        </a>
</li> #}
 <li class=" parent dropdown ">
                        <a href="https://khetifood.com/index.php?route=product/category&amp;path=264" class="clearfix">
                            <span>
                                <strong><i class="icon icon8"></i><img src="https://khetifood.com/image/catalog/honey1.jpg" alt="" style="width:24px;"> Honey</strong>
                            </span>
                            
                        </a> </li>  
                         {% endif %}


  {% endif %}


   {% if store_id== 0 %}

 <li class=" parent dropdown ">
  <a href="https://store.kheti.farm/index.php?route=product/category&path=60" class="clearfix">
                            <span>
                                <strong><i class="icon icon8"></i><img src="https://khetifood.com/image/catalog/input store menu icons/seeds.png" alt="">Seeds</strong>
                            </span>
                            
                        </a>
</li>
 <li class=" parent dropdown ">
 <a href="https://store.kheti.farm/index.php?route=product/category&path=151" class="clearfix">
                            <span>
                                <strong><i class="icon icon8"></i><img src="https://khetifood.com/image/catalog/input store menu icons/seeds.png" alt="">Crop Protection</strong>
                            </span>
                            
                        </a>
</li>
 <li class=" parent dropdown ">
  <a href="https://store.kheti.farm/index.php?route=product/category&path=62" class="clearfix">
                            <span>
                                <strong><i class="icon icon8"></i><img src="https://khetifood.com/image/catalog/input store menu icons/seeds.png" alt="">Fertilizer</strong>
                            </span>
                            
                        </a>
</li>
 <li class=" parent dropdown ">
 <a href="https://store.kheti.farm/index.php?route=product/category&path=66" class="clearfix">
                            <span>
                                <strong><i class="icon icon8"></i><img src="https://khetifood.com/image/catalog/input store menu icons/fertilizer.png" alt="">Growth Promoter</strong>
                            </span>
                            
                        </a>
</li>
 <li class=" parent dropdown ">
  <a href="https://store.kheti.farm/index.php?route=product/category&path=148" class="clearfix">
                            <span>
                                <strong><i class="icon icon8"></i><img src="https://khetifood.com/image/catalog/input store menu icons/fertilizer.png" alt="">Machinery/Tools</strong>
                            </span>
                            
                        </a>
</li>
 <li class=" parent dropdown ">
  <a href="https://store.kheti.farm/index.php?route=product/category&path=150" class="clearfix">
                            <span>
                                <strong><i class="icon icon8"></i><img src="https://khetifood.com/image/catalog/input store menu icons/fertilizer.png" alt="">Services</strong>
                            </span>
                            
                        </a>
</li>
 <li class=" parent dropdown ">
  <a href="https://store.kheti.farm/index.php?route=product/category&path=156" class="clearfix">
                            <span>
                                <strong><i class="icon icon8"></i><img src="https://khetifood.com/image/catalog/input store menu icons/fertilizer.png" alt="">Seedling</strong>
                            </span>
                            
                        </a>
</li>
 <li class=" parent dropdown ">
  <a href="https://store.kheti.farm/index.php?route=product/category&path=220" class="clearfix">
                            <span>
                                <strong><i class="icon icon8"></i><img src="https://khetifood.com/image/catalog/kaushi.jpg" alt="">Kaushi Kheti</strong>
                            </span>
                            
                        </a>
</li>
  
  {% endif %}
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<style>
.magik-verticalmenu {
     margin-bottom: 15px;
    background-color: #F7F7F7;
    z-index: 999;
    height: 295px !important;
  }
  #magik-verticalmenu .nav-title {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0px 0px 10px 0px;
    /* background-color: #fff; */
    font-weight: normal;
    text-transform: uppercase;
    padding: 11px 15px;
    background:#00b59b;
    letter-spacing: 1px;
    border-radius: 3px 3px 0 0;
  }
  #magik-verticalmenu .nav-title:before {
    font-family: FontAwesome;
    font-size: 14px;
    margin-right: 3px;
    width: 19px;
    height: 14px;
    display: inline-block;
    background: url(./download.jpg) no-repeat center;
    
}
#magik-verticalmenu .navbar-nav {
   height: 284px !important;
    padding-bottom: 0;
    overflow-y: scroll;
    width: 100%; 0;
    overflow-y: scroll;
    width: 100%;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.nav {
    
    padding-left: 0;
    list-style: none;
}
#magik-verticalmenu .verticalmenu.navbar-nav > li.dropdown {
    position: static;
}
#magik-verticalmenu .verticalmenu.navbar-nav > li {
    float: none;
}
#magik-verticalmenu .navbar-nav li {
    padding: 0px;
}
.nav > li {
    
    display: block;
}
#magik-verticalmenu .verticalmenu.navbar-nav > li:first-child a {
    border-top: none;
}
#magik-verticalmenu .verticalmenu.navbar-nav > li > a {
   color: #333;
    background: #F7F7F7;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    font-size: 12px;
font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    font-weight: bold;
    cursor: pointer;                                                                                                  text-overflow: ellipsis;    white-space: nowrap;                                                                                                text-overflow: ellipsis;    white-space: nowrap;
}
.navbar-nav > li > a {
    padding-top: 11px;
    padding-bottom: 11px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
#magik-verticalmenu .verticalmenu.navbar-nav > li:hover > a {
    background: #6AAE12;
    color: #f7f7f7 !important;
}
img{
    margin-right: 10px;
}
.navbar-collapse {
    width: auto;
    border-top: 0;padding:unset;
    box-shadow: none;
}
.navbar-inverse {
    background-color: #fff;
    border-color: #E4E4E4 transparent black transparent;
}

#magik-verticalmenu .verticalmenu.navbar-nav .dropdown-menu {
    /*height: 390px !important;
    width:100%;*/
    display: block;
    opacity: 0;
    border: 0;
    padding: 20px;
    min-width: 225px;
    right: auto;
    left: 100%;
    z-index: 99999;
  }
  .rtl #magik-verticalmenu .verticalmenu.navbar-nav .dropdown-menu {
    right: 100%;
    left: auto;
  }
  .magik-verticalmenu .dropdown-menu > .dropdown-menu-inner {
    padding: 10px;
}
  
#magik-verticalmenu .verticalmenu.navbar-nav > li.dropdown:hover .dropdown-menu{
    display: block;
    opacity: 1;
    left: 100%;
    top: 0;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.35);
    margin-left:-20px;
  }
  #magik-verticalmenu .verticalmenu.navbar-nav .dropdown-menu {
    border: 0;
    padding: 20px;
    min-width: 225px;
    right: auto;
    z-index:  9999;
  }
  #magik-verticalmenu .verticalmenu .dropdown-menu {
    visibility: visible;
    display: block;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1040;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
  }
  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333333;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #428bca;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
color: #fff;
text-decoration: none;
outline: 0;
background-color: #428bca;
}
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
color: #999999;
}
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    text-decoration: none;
}
.open > .dropdown-menu {
display: block;
}
.open > a {
outline: 0;
}

</style>
